<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <properties>
    <property key="userid" value="inf245g2usr"/>
    <property key="password" value="server"/>
    <property key="server" value="inti.lab.inf.pucp.edu.pe"/>
    <property key="database" value="inf245g2"/>
  </properties>

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="true"/>
  </settings>

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="${database}"
    connectionString="data source=${server};User Id=${userid};Password=${password};
Database=${database};"></dataSource>
  </database>

  
  <!--Alias para las clases-->
  <!--<alias>
    <typeAlias alias="Alumno" type="PruebaMyBatis.pe.edu.pucp.mybatis.model.Alumno"/>
  </alias>-->
  <!--*******************************************************************************-->

  <alias>
    <typeAlias alias ="Cliente" type="pe.edu.pucp.ferretinsoft.model.Cliente"></typeAlias>
  </alias>
  
  <!--Ruta de archivos xml que contienen las sentencias SQL-->
  <sqlMaps>
    <sqlMap resource="../../pe.edu.pucp.ferretinsoft.controller/MapperXML/ClienteMapper.xml"/>
  </sqlMaps>
  <!--*******************************************************************************-->

</sqlMapConfig>