<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <properties>
    <property key="userid" value="administrador"/>
    <property key="password" value="administrador"/>
    <property key="server" value="192.168.1.34"/>
    <property key="database" value="TestMyBatis"/>
	<property resource ="..\..\pe.edu.pucp.ferretinsoft.controller\MapperXML\configMapper.xml"/>
  </properties>

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="true"/>
  </settings>

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="TestMyBatis"
    connectionString="data source=server;User Id=administrador;Password=administrador;
Database=TestMyBatis;"></dataSource>
  </database>

  <!--<alias>
    <typeAlias alias="Alumno" type="PruebaMyBatis.pe.edu.pucp.mybatis.model.Alumno"/>
  </alias>-->

  
  <sqlMaps>
    <sqlMap resource="../../pe.edu.pucp.ferretinsoft.controller/MapperXML/test.xml"/>
  </sqlMaps>
  

</sqlMapConfig>