<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ClienteMapper"
xmlns="http://ibatis.apache.org/mapping"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <resultMaps>
    <resultMap id="mapaCliente" class="Cliente">
      <result property="Nombre" column="nombre"/>
    </resultMap>
  </resultMaps>

  <statements>

    <select id="obtenerListaClientes" resultClass="Cliente">
      select nombre as Nombre from Tbl_Cliente;
    </select>
  </statements>

</sqlMap>